* {
    box-sizing: border-box;
}


body{
    font-family: 'Roboto', sans-serif;
    background-color: #F8F8F8;
}

/* Topo da  pagina  */ 
header {
height: 69px;
background-color: #Ec362d;
display: flex;
justify-content: center;
align-items: center;
box-shadow: 0 5px 5px rgb(0, 0,0/25%);
position: fixed;
top:0px;
left: 0px;
right: 0px;
}

header p {
    font-size: 37px;
    color: white;
    font-weight: bold;
    font-weight: 700;
    font-size: 37px;
    line-height: 43px;
}

/* Tela inicial do buzz quiz */

.Primeiratela{
    width: 1052px;
    margin: 0 auto;
    margin-bottom: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
   
}

.Primeiratela .criar-quizz {
border: 1px dashed #b9b9b9; ;
display: flex;
justify-content: center;
align-items: center;
width: 1052px;
height: 181px;
margin-top: 146px;
display: flex;
flex-direction: column;

}

.Primeiratela .criar-quizz p {
color: #b9b9b9;
padding-bottom: 25px ;
font-size: 20px;
text-align: center;

}

.Primeiratela .criar-quizz .BotaoCriar{
border: 1px dashed ;
border-radius: 50px;
color: #Ec362d;
width: 136px;
height: 40px;
background-color: white;
font-size: 21px;
cursor: pointer;

}


.Primeiratela .TodosOsQuizzes{
    margin-top: 100px;
    height: 40px;
    width:1052px;
    align-items: center;
    display: flex;
    font-weight: 700;
    font-size: 20px; 
    line-height: 23px;
    text-align: center;
    
}
.Primeiratela .SeusQuizzes{
    margin-top: 100px;
    height: 40px;
    width:1052px;
    align-items: center;
    display: flex;
    font-weight: 700;
    font-size: 20px; 
    line-height: 23px;
    text-align: center;
    
}
.Primeiratela .SeusQuizzes ion-icon {
color: #Ec362d;
font-size: 31px;
margin-left: 10px;
cursor: pointer;
}


/* Classe para esconder */


.escondido{
    display: none !important;
}



/* Tela do quizz */

.Segundatela{

}


/* Tela de criação de quizz */

.Terceiratela{
    display: flex;
    justify-content: center;
}

.Terceiratela p {
  margin-top: 100px;
  


}